* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "neue-machina", serif;
}

body {
  background: #f8e0b0;
}

@font-face {
  font-family: "neue-machina";
  src: url("../public/fonts/PPNeueMachina-Ultrabold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "neue-machina-regular";
  src: url("../public/fonts/PPNeueMachina-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #9c6e5d;
}

::-webkit-scrollbar-track {
  background-color: #f8e0b0;
}
